
body{
    margin: 0px;
    padding: 0%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-size: cover;
}
.a{
    background-image: url("mini.jpg");
    height: 800px;
    margin: 0px;
    padding: 0px;
}
div.box{
    background-color: rgba(255, 255, 255, 0.224);
    margin:auto;
    width:300px;
    height:350px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    border-radius: 10px;
    color: black;
}
div.box :hover {
    transform: translateY(-5px);
}
#logo{  
    width: 100px;
    height:100px;
    margin-top:20px;
    border-radius: 50%;
}
#user{
    height:100px;
    width:100px;
}
#email{
    width:250px;
}
#pass{
    width:250px;
}
#button{
    width:257px;
    height:25px;
    background-color:rgb(25, 180, 173);
    color:aliceblue;
}
#check{
    margin-top:10px;
}
#a1{
    margin-left: 100px;
}

form input{
    border-radius: 10px;
    height: 20px;
}
a:link{
    color:white;
    text-decoration: none;
    background-color: transparent;
}